---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
	<article>
		<p>Index indhold</p>
		<p>Stefans nye starter</p>
		<p class="prose">
			En masse Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit doloremque accusantium nemo, et optio commodi esse placeat cumque totam modi, in incidunt aliquam, voluptatem debitis omnis beatae accusamus adipisci quasi?

			hej hejse

		</p>

	</article>
</MainLayout>