---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';

import Hero from '../components/Hero.astro';
import Cirkel from '../components/Cirkel.astro';
import Mig from '../components/Mig.astro';
import Kompetencer from '../components/Kompetencer.astro';
---
<MainLayout title="Laura praktik">
	<article>

		<section>
			<Hero></Hero>
			<Cirkel></Cirkel>
		</section>

		<section>
			<Mig></Mig>
		</section>

		<section>
			<Kompetencer></Kompetencer>
		</section>
</MainLayout>