---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from '../components/Hero.astro';
import Cirkel from '../components/Cirkel.astro';
import Mig from '../components/Mig.astro';
import Kompetencer from '../components/Kompetencer.astro';
import Opdeling from '../components/Opdeling.astro';
import Projekter from '../components/Projekter.astro';
---
<MainLayout title="Laura praktik">
	<article>

		<section>
			<Hero></Hero>
			<Cirkel></Cirkel>
		</section>

		<section>
			<Mig></Mig>
		</section>

		<section>
			<Kompetencer></Kompetencer>
		</section>

		<section>
			<Opdeling></Opdeling>
		</section>

		<section>
			<Projekter></Projekter>
		</section>

	</article>

</MainLayout>