<div class="vl">
    <h2 class="text-[#E6D2D3] uppercase pt-10 pl-5 pb-2 lg:text-[36px] lg:pt-24">Laura Nyberg Amelung</h2>
    <hr class="-ml-7 lg:-ml-20 lg:border-solid lg:border-[0.5%] bg-[#E6D2D3]">
    <h1 class="text-[#E0A3A5] text-[40px] lg:text-[90px] uppercase pl-5">Personlig <br> Professionel <br> Profil</h1>
</div>


<style>
    .vl{
        border-left: 1px solid #E6D2D3;
        margin-top: ;
      height: 580px;
      position:absolute;
      margin-left: 7px; 
    }

    @media (min-width: 1024px) {
        .vl{
            height: 650px;
        }
    }
   
</style>