---
import { Image } from 'astro:assets';
import Portræt from '../assets/images/portræt.webp';
---

<div class="grid lg:grid-cols-2 bg-[#E6D2D3] -mx-5 -mr-8 px-5 pt-5 mt-10 lg:-ml-16 lg:mr-32 lg:p-10">
<div class="lg:w-96 lg:h-96 lg:flex lg:justify-items-center lg:mt-28 lg:ml-14 fadeInLeft">
<Image loading="lazy" src={Portræt} alt="Portræt af Laura Nyberg Amelung"></Image>
</div>

<div class="text-[#214B3F] lg:pr-20 ">
<h2  id="sektion1" class="uppercase font-bold pt-5 text-[20px] pb-5 lg:text-[40px]">Hvem er jeg?</h2>
<p class="pb-5">Jeg hedder Laura Amelung, er 23 år og studerer til multimediedesigner på Københavns Erhvervsakademi.</p>
<p class="pb-5 font-bold">Under praktikforløbet håber jeg meget på, at få mere erfaring i, at indgå i et team på tværs af faglige kompetencer, samt være med til at skabe nye digitale designløsninger og designidentiteter i form af ide -og konceptudvikling og prototyping.</p>
<p class="pb-5">På multimediedesigner-uddannelsen, har jeg lært en masse spændende ting, om det gode og brugervenlige design, samt implementering af dette til websites.</p>
<p class="pb-5">Jeg er meget fascineret af minimalistiske og nordiske designs, men jeg elsker også at eksperimentere med diverse farver og former.</p>
<p class="pb-5">Inden jeg startede på Københavns Erhvervsakademi, var jeg 8 måneder på en international filmhøjskole, hvor jeg lærte en helt masse om filmproduktion, hvilket jeg også har en stor interesse i.</p>
<p class="pb-5">Herefter var jeg så heldig at blive udtaget til DR Lab, som er DR´s hold for unge digitale talenter. Under forløbet arbejdede jeg med ide -og konceptudvikling, med formålet om at fremme DR´s digitale udvikling.</p>
</div>

</div>

<script>
	import {inView} from "motion";
	const fadeInLeft = document.querySelector(".fadeInLeft");

	inView(fadeInLeft, () => {
		fadeInLeft.classList.add("animate__animated", "animate__fadeInLeft", "animate__slower", "animation-duration-2s");
	})

</script>
